.gridContainer {
  max-width: 2000px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.gridItem {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}
