.container {
  width: 200px;
  border-radius: 20px;
  background-color: #2c2d2e;
  padding: 0px 20px;
  text-align: center;
  color: #97999a;
  display: inline-block;
  margin-top: 15px;
}

.containerLink {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
