.container {
  width: 200px;
  border-radius: 30px;
  background-color: #212121;
  padding: 0px 20px;
  text-align: center;
  color: #97999a;
  display: flex;
  justify-content: center;
  margin: auto;
}

.containerLink {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
