@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background-color: #3d4147;
  padding: 30px;
  letter-spacing: 2px;
}

button {
  border-radius: 5px;
  border: none;
  background-color: #333538;
  color: white;
  padding: 20px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(33, 33, 33);
}
